@font-face {
    font-family: Construktor;
    src: url(../src/styles/fonts/Construktor/Construktor.ttf);
  }

  @font-face {
    font-family: Rockwell-Regular;
    src: url(../src/styles/fonts/Rockwell/Rockwell-Regular.TTF);
  }
  @font-face {
    font-family: Rockwell-Italic;
    src: url(../src/styles/fonts/Rockwell/Rockwell-Italic.TTF);
  }

  @font-face {
    font-family: Rockwell-Bold;
    src: url(../src/styles/fonts/Rockwell/Rockwell-Bold.TTF);
  }


@font-face {
    font-family: Rockwell-Bold-Italic;
    src: url(../src/styles/fonts/Rockwell/Rockwell-Bold-Italic.TTF);
  }

  @font-face {
    font-family: Rockwell-Extra-Bold;
    src: url(../src/styles/fonts/Rockwell/Rockwell-Extra-Bold.TTF);
  }
